<link href="~/css/SideNav.css" rel="stylesheet" asp-append-version="true" />

<div class="mx-2">

    <div class="avatar-container mt-3">
        <img src="https://i0.wp.com/umsu.ac.id/berita/wp-content/uploads/2024/03/alasan-mengapa-cristiano-ronaldo-dicoret-dari-timnas-portugal-analisis-mendalam.jpg?resize=700%2C375&ssl=1" alt="Avatar" class="avatar">
    </div>

    <div class="info-box gap-1 mt-1">
        <div class="info-title">2402</div>

        <div class="info-content">
            <span class="blacktext">Tên: </span><span>Lê Hùng Cường</span><br />
            <span class="blacktext">Số điểm tích trữ: </span><span>1000 điểm</span><br />
            <span class="blacktext">Chức vụ: </span><span class="labelredtext">hoa tiêu</span>
        </div>
    </div>

    <div class="d-flex justify-content-start align-items-center gap-2 mt-2">
        <a href="#">
            <img src="~/assets/img/icon/icon-2.png" style="width: 25px; height: auto;" />
        </a>
        <a href="#">
            <img src="~/assets/img/icon/icon-4.png" style="width: 25px; height: auto;" />
        </a>
        <a href="#">
            <img src="~/assets/img/icon/icon-5.png" style="width: 25px; height: auto;" />
        </a>
        <a href="#">
            <img src="~/assets/img/icon/icon-6.png" style="width: 25px; height: auto;" />
        </a>
        <a href="#">
            <img src="~/assets/img/icon/icon-7.png" style="width: 25px; height: auto;" />
        </a>
    </div>

    <div class="d-flex gap-1 mt-3">
        <div class="labelredtext">
            Kết quả tuần
        </div>

        <div style="font-size: 1.2em;">
            <i class="fa-regular fa-clock"></i>
        </div>

    </div>

    <div>
        <span class="blacktext">Bài viết mới: </span><span>100</span><br />
        <span class="blacktext">Số bài viết đạt top: </span><span>55</span><br />
        <span class="blacktext">Traffic tăng: </span><span>10k</span>
    </div>

    <div class="mt-2">
        <div class="labelredtext">
            KPI tháng
        </div>

        <div>
            Bài viết mới >> <span class="blacktext">500 bài</span>
        </div>
        <div class="d-flex align-items-center gap-1">
            <div class="progressBox">
                <div class="progressInput" data-percent="60" data-color="#f1c116"></div>
            </div>
            <div class="fw-bold" style="color: #f1c116;">60%</div>
        </div>

        <div class="mt-2">
            Traffic Vivu tăng >> <span class="blacktext">55k</span>
        </div>
        <div class="d-flex align-items-center gap-1">
            <div class="progressBox">
                <div class="progressInput" data-percent="60" data-color="#00bf63"></div>
            </div>
            <div class="fw-bold" style="color: #00bf63;">39%</div>
        </div>

        <div class="mt-2">
            Số bài viết đạt top 5 >> <span class="blacktext">200 bài</span>
        </div>
        <div class="d-flex align-items-center gap-1">
            <div class="progressBox">
                <div class="progressInput" data-percent="60" data-color="#c10000"></div>
            </div>
            <div class="fw-bold" style="color: #c10000">60%</div>
        </div>
    </div>

</div>