.page-background {
    background-image: url('/assets/img/BG/Anhmemxanh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 1.5rem;
}

th.subheader {
    font-size: 0.6rem !important;
    text-transform: uppercase;
    background-color: #dbfff3 !important;
    color: #000000 !important;
}

.text-left {
    text-align: left !important;
}

.btnCustome {
    background-color: #4194d4;
    border-radius: 10px;
    padding: 5px 10px;
}

.large-checkbox
{
    transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
}