<link href="~/css/headerNav.css" rel="stylesheet" asp-append-version="true" />

<div class="d-flex justify-content-center gap-4 mb-4" style="height: 6vh;">

    <div>
        <a class="headerItem" href="#">bản đồ <span>kho báu</span></a>
    </div>

    <div>
        <a href="#" class="headerItem">
            Hiệu suất <span>công việc</span>
        </a>
    </div>

    <div>
        <a href="#" class="headerItem">
            kết quả<span>thi đua</span>
        </a>
    </div>

    <div>
        <a href="#" class="headerItem">
            Nhiện vụ và<span> liên lạc</span>
        </a>
    </div>

    <div>
        <a href="#" class="headerItem">
            Tin tức<span>nội bộ</span>
        </a>
    </div>

    <div>
        <a href="#" class="headerItem">
            Tranning<span></span>
        </a>
    </div>

    <div>
        <a href="#" class="headerItem">
            Bảng<span>thành tích</span>
        </a>
    </div>

</div>

@* <div class="row justify-content-center gap-4 mb-4" style="height: 8vh;">

    <div class="col-1 navitem">
        bản đồ <span>kho báu</span>
    </div>

    <div class="col-1 navitem">
        Hiệu suất <span>công việc</span>
    </div>

    <div class="col-1 navitem">
        kết quả <span>thi đua</span>
    </div>

    <div class="col-1 navitem">
        Nhiện vụ và<span>liên lạc</span>
    </div>

    <div class="col-1 navitem">
        Tin tức <span>nội bộ</span>
    </div>

    <div class="col-1 navitem">
        Tranning
    </div>

    <div class="col-1 navitem">
        Bảng <span>thành tích</span>
    </div>

</div> *@