<div class="row">

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page1">Page1</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page2">Page2</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page3">Page3</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page4">Page4</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page5">Page5</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page6">Page6</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page7">Page7</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page8">Page8</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page9">Page9</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page10">Page10</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page11">Page11</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page12">Page12</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page13">Page13</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page14">Page14</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page15">Page15</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page16">Page16</a>
    </div>

    <div class="col-1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Page17">Page17</a>
    </div>

</div>