
@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/4.0.1/css/jquery.orgchart.min.css">
    <link href="~/css/Home/Page18.css" rel="stylesheet" />
}

<div class="page-background">

    <div id="chart-container"></div>

</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/4.0.1/js/jquery.orgchart.min.js"></script>
    <script src="~/js/Home/Page18.js"></script>
}