
@section Styles
{
    <link href="~/css/Home/Page20.css" rel="stylesheet" />
}

<div class="page-background">

    <div class="row justify-content-center mb-3">
        <div class="col-xl-12">
            <div class="d-flex justify-content-center textTitle">
                mô tả chức vụ
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 15%">Chức vụ</th>
                        <th style="width: 25%;">Người phụ trách</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Thuyền trưởng</td>
                        <td>Bùi văn ninh</td>
                        <td>Người đứng đầu tàu, chịu trách nhiệm tổng thể về an toàn, hành trình và quản lý toàn bộ thuyền viên.</td>
                    </tr>
                    <tr>
                        <td>Sĩ quan hành chính</td>
                        <td>DIỄM MY - DIỄM QUỲNH</td>
                        <td>
                            Quản lý ngân sách, theo dõi chi tiêu, xử lý tài khoản và lo liệu các vấn đề tài chính khác của tàu, bao gồm chi phí vận hành và sinh hoạt.
                        </td>
                    </tr>
                    <tr>
                        <td>Chỉ huy trưởng</td>
                        <td>HUỲNH QUỐC CƯỜNG</td>
                        <td>
                            Chỉ huy trưởng là người chịu trách nhiệm tổng quát, điều hành các công việc từ thuyền trưởng đưa xuống
                        </td>
                    </tr>
                    <tr>
                        <td>Chỉ huy phó</td>
                        <td>
                            HUYỀN TÂM - MỸ LINH - NGỌC THƯ - KIM CHI
                        </td>
                        <td>
                            Chỉ huy phó hỗ trợ chỉ huy trưởng, đảm bảo các nhiệm vụ và hoạt động trên tàu diễn ra suôn sẻ
                        </td>
                    </tr>
                    <tr>
                        <td>Nhà khảo sát 1</td>
                        <td>ĐẠO HOÀNG LÂN</td>
                        <td>
                            Người đo đạc, nghiên cứu và lập bản đồ các vùng đất và vùng biển chưa được biết đến.
                        </td>
                    </tr>
                    <tr>
                        <td>Nhà khảo sát 2</td>
                        <td>TRẦN VĂN BẢO NGỌC</td>
                        <td>
                            Người đo đạc, nghiên cứu và lập bản đồ các vùng đất và vùng biển chưa được biết đến.
                        </td>
                    </tr>
                    <tr>
                        <td>Sĩ quan Boong</td>
                        <td>TRẦN QUỐC VIỆT</td>
                        <td>
                            Người quản lý và điều hành hoạt động trên boong tàu, chịu trách nhiệm điều hướng, an toàn
                        </td>
                    </tr>
                    <tr>
                        <td>Hoa tiêu</td>
                        <td>NGUYỄN TẤN PHÁT</td>
                        <td>
                            Chuyên gia địa phương hướng dẫn tàu qua vùng nước khó khăn để đảm bảo an toàn.
                        </td>
                    </tr>
                    <tr>
                        <td>Thợ máy</td>
                        <td>
                            HỮU DUY - VĂN NGHĨA
                        </td>
                        <td>
                            Hỗ trợ bộ phận máy trong việc vận hành và bảo trì máy móc.
                        </td>
                    </tr>
                    <tr>
                        <td>Thuyền phó nhất</td>
                        <td>
                            NGỌC HƯƠNG
                        </td>
                        <td>
                            Chịu trách nhiệm quản lý hoạt động của boong tàu, giám sát các thủy thủ và đảm bảo mọi công việc liên quan đến boong tàu
                        </td>
                    </tr>
                    <tr>
                        <td>Thuyền phó 2</td>
                        <td>
                            LƯƠNG HẢI
                        </td>
                        <td>
                            Chịu trách nhiệm về thông tin: điều hướng, quản lý hải đồ và thiết bị dẫn đường.
                        </td>
                    </tr>
                    <tr>
                        <td>Thủy thủ</td>
                        <td>Nhân viên telesale - Content - Editor</td>
                        <td>
                            Thực hiện công việc trên boong như vận hành thiết bị, canh gác và hỗ trợ trong quá trình cập bến.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/Home/Page20.js"></script>
}