
@section Styles
{
    <link href="~/css/Page2.css" rel="stylesheet" />
}

<div class="b1-background">

    <div class="d-flex justify-content-center gap-3 mt-3" style="height: 50px; margin-left: 200px;">

        <div class="navitem">
            bản đồ <span>kho báu</span>
        </div>

        <div class="navitem">
            Hiệu suất <span>công việc</span>
        </div>

        <div class="navitem">
            kết quả <span>thi đua</span>
        </div>

        <div class="navitem">
            Nhiện vụ và<span>liên lạc</span>
        </div>

        <div class="navitem">
            Tin tức <span>nội bộ</span>
        </div>

        <div class="navitem">
            Tranning
        </div>

        <div class="navitem">
            Bảng <span>thành tích</span>
        </div>

        <div>
            <img src="~/image/Others/EarthIcon.png" alt="">
        </div>

    </div>

    <div class="">

        <div class="d-flex" style="height: 30vh;">

            <div class="letterBg">
                <div class="letterBgContent">
                    <div class="redtext">mục tiêu</div>
                    <div class="blacktext">Doanh thu</div>
                    <div class="blacktext">6 tỷ</div>
                    <div class="blacktext">Chi phí</div>
                    <div class="blacktext">1 tỷ</div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-end" style="margin-bottom: 30px;">
                <div class="co12">
                    <img src="~/image/Dao/6.png" style="width: 120px; height: auto;">
                </div>
                <div class="dao12">
                    <img src="~/image/Dao/3.png" style="width: 220px; height: auto;">
                </div>
            </div>

            <div class="text12">
                <div class="blacktext mb-2" style="font-size: 1.2em;">
                    <span> Đảo cờ</span>
                    <p>tháng 12</p>
                </div>
                <div>
                    <div class="redtext" style="font-size: 1.2em;">đích đến</div>
                    <div class="d-flex justify-content-end">
                        <img src="~/image/Dao/12.png" style="width: 20px; height: auto;">
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column" style="margin-top: 100px; margin-left: 70px;">
                <div class="co11">
                    <img src="~/image/Dao/1.png" style="width: 50px; height: auto;">
                </div>
                <div class="dao11">
                    <img src="~/image/Dao/5.png" style="width: 180px; height: auto;">
                </div>

                <div class="d-flex justify-content-start">
                    <img src="~/image/Dao/12.png" style="width: 20px; height: auto;">
                </div>

                <div class="d-flex justify-content-center">
                    <img src="~/image/Dao/2.png" style="width: 20px; height: auto;">
                </div>
            </div>

            <div class="text11">

                <div class="d-flex flex-column labelblacktext mb-3">
                    <div>đào đá</div>
                    <div>tháng 11</div>
                </div>
                
                <div class="d-flex justify-content-end">
                    <img src="~/image/Dao/12.png" style="width: 20px; height: auto;">
                </div>

            </div>

            <div class="d-flex flex-column" style="margin-top: 140px; margin-left: 20px;">
                <div class="co10">
                    <img src="~/image/Dao/13.png" style="width: 30px; height: auto;">
                </div>
                <div class="dao10">
                    <img src="~/image/Dao/4.png" style="width: 100px; height: auto;">
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <img src="~/image/Dao/12.png" style="width: 30px; height: auto;">
                </div>
                
            </div>

            <div class="text10">

                <div class="d-flex flex-column labelblacktext">
                    <div>đào dứa</div>
                    <div>tháng 10</div>
                </div>

            </div>

            <div class="d-flex flex-column align-items-center" style="margin-left: 280px; margin-top: 30px;">
                <div class="redNormalText">Thời gian</div>
                <div class="redNormalText">15:04:00</div>
                <div class="d-flex gap-2 justify-content-center align-items-center mt-3">
                    <div>
                        <img src="~/image/Others/MatTroi.png" style="width: 40px; height: auto;">
                    </div>
                    <div class="redtext boxThoiTiet">Dự báo thời tiết</div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-between" style="height: 30vh; width: 70%;">
            <div>
                <div class="d-flex gap-3 align-items-center" style="margin-left: 50px;">
                    <div>
                        <img src="~/image/Others/DaoCaHeo.png" style="width: 100px; height: auto;">
                    </div>
                    <div class="labelblacktext">
                        <div>Đảo Cá Heo</div>
                        <span>Tháng 1</span>
                    </div>
                </div>

                <div class="d-flex gap-3 align-items-center" style="margin-left: 80px;">
                    <div>
                        <img src="~/image/Others/DaoThang2.png" style="width: 100px; height: auto;">
                    </div>
                    <div class="labelblacktext">
                        <div>Đảo Làng</div>
                        <span>Tháng 2</span>
                    </div>
                </div>

            </div>

            @* <div class="d-flex justify-content-start"> *@
                <div class="d-flex justify-content-start">

                    <div>
                        <div class="d-flex gap-3 align-items-center" style="margin-left: 300px;">
                            <div>
                                <img src="~/image/Dao/10.png" style="width: 80px; height: auto;">
                            </div>
                            <div class="labelblacktext mb-5">
                                <div>Đảo Ngọc Trai</div>
                                <span>Tháng 9</span>
                            </div>
                        </div>

                        <div class="d-flex gap-4 align-items-center" style="margin-left: 200px;">
                            <div>
                                <img src="~/image/Dao/2.png" style="width: 20px; height: auto;">
                            </div>
                            <div>
                                <img src="~/image/Dao/8.png" style="width: 160px; height: auto;">
                            </div>
                            <div style="margin-bottom: 50px;">
                                <div class="d-flex flex-column align-items-center labelblacktext">
                                    <div>Đảo Hòn Rùa</div>
                                    <span>Tháng 8</span>
                                </div>

                                <div class="DaoRuaBg">
                                    <div class="DaoRuaContent">
                                        <div>Mục tiêu: 200 triệU</div>
                                        <div>Chi phí: 50 triệu</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                @* <div style="margin-top: 50px;">
                    <div class="d-flex flex-column align-items-center labelblacktext">
                        <div>Đảo Hòn Rùa</div>
                        <span>Tháng 8</span>
                    </div>

                    <div class="DaoRuaBg">
                        <div class="DaoRuaContent">
                            <div>Mục tiêu: 200 triệU</div>
                            <div>Chi phí: 50 triệu</div>
                        </div>
                    </div>
                </div> *@
            @* </div> *@

        </div>

        <div class="d-flex">
            <div style="margin-left: 120px;">
                <div class="labelblacktext">
                    <div>Đảo Làng</div>
                    <span>Tháng 3</span>
                </div>
                <div>
                    <img src="~/image/Others/DaoThang3.png" style="width: 80px; height: auto;">
                </div>
            </div>

            <div style="margin-left: 50px; margin-top: 20px;">
                <div class="labelblacktext">
                    <div>Đảo Làng</div>
                    <span>Tháng 4</span>
                </div>
                <div>
                    <img src="~/image/Others/DaoThang4.png" style="width: 80px; height: auto;">
                </div>
            </div>

            <div style="margin-left: 50px; margin-top: 20px;">
                <div class="labelblacktext">
                    <div>Đảo Làng</div>
                    <span>Tháng 5</span>
                </div>
                <div>
                    <img src="~/image/Others/DaoThang5.png" style="width: 80px; height: auto;">
                </div>
            </div>

            <div style="margin-left: 50px; margin-top: 20px;">
                <div class="labelblacktext">
                    <div>Đảo Làng</div>
                    <span>Tháng 6</span>
                </div>
                <div>
                    <img src="~/image/Others/DaoThang6.png" style="width: 80px; height: auto;">
                </div>
            </div>

            <div style="margin-left: 50px; margin-top: 20px;">
                <div class="labelblacktext">
                    <div>Đảo Làng</div>
                    <span>Tháng 7</span>
                </div>
                <div>
                    <img src="~/image/Others/DaoThang7.png" style="width: 80px; height: auto;">
                </div>
            </div>

            <div style="margin-left: 50px; margin-top: 0px;">
                <div>
                    <img src="~/image/Others/cano.png" style="width: 80px; height: auto;">
                </div>
            </div>

        </div>
    </div>

    @* <div class="d-flex">


        <div class="d-flex flex-column justify-content-between align-items-center flex-grow-1">
            
            <div class="d-flex flex-column align-items-center" style="margin-left: 150px; margin-top: 28px;">
                <div class="redNormalText">Thời gian</div>
                <div class="redNormalText">15:04:00</div>
                <div class="d-flex gap-2 justify-content-center align-items-center mt-3">
                    <div>
                        <img src="~/image/Others/MatTroi.png" style="width: 40px; height: auto;">
                    </div>
                    <div class="redtext boxThoiTiet">Dự báo thời tiết</div>
                </div> 
            </div>

            <div class="d-flex flex-column gap-3 align-items-start" style="margin-left: 200px;">

                <div class="DaoRuaBg">
                    <div class="DaoRuaContent mt-2">
                        <div>Mục tiêu: 200 triệU</div>
                        <div>Chi phí: 50 triệu</div>
                    </div>
                </div>

                <div style="margin-left: 200px;">
                    <div>
                        <img src="~/image/Dao/17.png" style="width: 90%; height: auto;">
                    </div>
                </div> 

            </div>

        </div>
    </div> *@


</div>

@section Scripts
{
    <script src="~/js/Page2.js"></script>
}


@* <div class="DaoRuaBg">
    <div class="DaoRuaContent mt-2">
        <div>Mục tiêu: 200 triệU</div>
        <div>Chi phí: 50 triệu</div>
    </div>
</div> *@

@* <div style="margin-left: 230px;">
    <div class="redNormalText">Thời gian</div>
    <div class="redNormalText">15:04:00</div>
    <div class="d-flex gap-2 justify-content-center align-items-center mt-3">
        <div>
            <img src="~/image/Others/MatTroi.png" style="width: 40px; height: auto;">
        </div>
        <div class="redtext boxThoiTiet">Dự báo thời tiết</div>
    </div>
</div> *@

@* <div style="margin-left: 330px; margin-bottom: 100px;">
                    <div class="labelblacktext">
                        <div>Đảo Làng</div>
                        <span>Tháng 7</span>
                    </div>
                    <div>
                        <img src="~/image/Dao/17.png" style="width: 300px; height: auto;">
                    </div>
                </div> *@