
@section Styles
{
    <link href="~/css/Home/Page21.css" rel="stylesheet" />
}

<div class="page-background">

    <div class="row justify-content-center mb-3">
        <div class="col-xl-12">
            <div class="d-flex justify-content-center textTitle">
                mô tả bộ phận
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 15%">bộ phận</th>
                        <th style="width: 25%;">bộ phận tương ứng</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bộ phận boong</td>
                        <td>BỘ PHẬN MARKETING</td>
                        <td>Quản lý điều khiển tàu, bao gồm boong lái, phòng điều khiển, và các thiết bị điều hướng.</td>
                    </tr>
                    <tr>
                        <td>Bộ phận máy</td>
                        <td>BỘ PHẬN CALLCENTER</td>
                        <td>
                           Vận hành động cơ và hệ thống máy móc, bao gồm phòng máy, hệ thống nhiên liệu và phát điện.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/Home/Page21.js"></script>
}