
@section Styles
{
    <link rel="stylesheet" href="~/css/treeData.min.css">
    <link href="~/css/Home/Page19.css" rel="stylesheet" />
}

<div class="page-background">

    <div id="element"></div>

</div>

@section Scripts
{
    <script src="~/js/treeData.min.js"></script>
    <script src="~/js/Home/Page19.js"></script>
}