@section Styles
{
    <link href="~/css/Home/Page15.css" rel="stylesheet" />
}

<div class="page-background">

    @await Html.PartialAsync("~/Views/Shared/_headerNav.cshtml")

    <div class="row mb-3 rowHeader">

        <div class="col-xl-5 justify-content-end">

            <div class="labelredtext col-xl-12 titleHeader mb-2">Chuyên mục</div>

            <div class="row">

                <div class="col-xl-8 col-md-4 col-sm-4 mb-3">
                    <div class="search-container">
                        <input type="search" class="search-input">
                        <button class="search-button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="col-xl-4 col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-xl-12 col-md-4 col-sm-4">
                            <a class="boxText labelblacktext" href="#">Sự kiện</a>
                        </div>
                        <div class="mt-xl-2 col-xl-12 col-md-4 col-sm-4">
                            <a class="boxText labelblacktext" href="#">Nhân sự</a>
                        </div>
                        <div class="mt-xl-2 col-xl-12 col-md-4 col-sm-4">
                            <a class="boxText labelblacktext" href="#">Quy chế</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row2">

        <div class="col-xl-8">

            <div class="row">

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 mb-3">

                    <div class="card">
                        <div class="d-flex justify-content-around align-items-center card-header" style="background-color: #ffeeb6;">
                            <div class="col-1">
                                <div class="cardNode">
                                </div>
                            </div>
                            <div class="blacktext" style="font-size: 0.8rem;">
                                3/3/2023 Sự kiện
                            </div>
                            <div class="col-1 d-flex justify-content-end align-items-center">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="~/assets/img/Others/sk1.png" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="blacktext text-center" style="font-size: 0.8rem;">
                        Sự kiện Model Kids Praz chuẩn bị tổ chức vào tháng 12/2024
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-4 d-flex align-items-end justify-content-center">

            <div class="d-flex">
                <img src="~/assets/img/Others/sk7.png" class="img-fluid" >
            </div>

        </div>

    </div>


</div>

@section Scripts
{
    <script src="~/js/Home/Page15.js"></script>
}