
@section Styles
{
    <link href="~/css/Home/Page16.css" rel="stylesheet" />
}

<div class="page-background">

    @await Html.PartialAsync("~/Views/Shared/_headerNav.cshtml")

    <div class="row">
        <div class="col-xl-12">
            <div class="d-flex align-items-center gap-2 mt-5">
                <div class="labelblacktext">team</div>
                <div class="">
                    <a class="boxTD" href="#">Tổng đài</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row gap-4 mt-4 justify-content-center">
        <div class="col-xl-3 col-md-3">
            <div class="card">
                <div class="d-flex card-header" style="background-color: #ffeeb6;">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="cardNode">
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="~/assets/img/Others/sk1.png" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>

            <div class="blacktext mt-3">
                Hướng dẫn đặt vé và gửi hàng
            </div>
        </div>

        <div class="col-xl-3 col-md-3">
            <div class="card">
                <div class="d-flex card-header" style="background-color: #ffeeb6;">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="cardNode">
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="~/assets/img/Others/sk1.png" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>

            <div class="blacktext mt-3">
                Hướng dẫn đặt vé và gửi hàng
            </div>
        </div>

         <div class="col-xl-3 col-md-3">
            <div class="card">
                <div class="d-flex card-header" style="background-color: #ffeeb6;">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="cardNode">
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="~/assets/img/Others/sk1.png" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>

            <div class="blacktext mt-3">
                Hướng dẫn đặt vé và gửi hàng
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="d-flex align-items-center gap-4 mt-3">
                <div class="labelredtext" style="font-size: 1.8rem;">
                    toạ độ năng lượng
                </div>

                <div class="redNormaltext" style="font-size: 1.4rem;">
                    (1 tháng test 1 bài)
                </div>

                <div class="blacktext" style="font-size: 1.8rem;">
                    Bạn hãy trả lời các câu hỏi sau đây!
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="d-flex align-items-center gap-2 boxExam">
                <div>
                    <img src="~/assets/img/Others/ExamIcon1.png" style="width: 40px; height: auto;">
                </div>
                <p>Khách hàng gặp vấn đề khi thanh toán trực tuyến, như hệ thống lỗi hoặc thanh toán không được chấp nhận</p>
            </div>
            <div>
                <img src="~/assets/img/Others/ExamRep.png" style="width: 200px; height: auto;">
            </div>
        </div>

    </div>

</div>

@section Scripts
{
    <script src="~/js/Home/Page16.js"></script>
}