@section Styles
{
    <link href="~/css/Home/Page3.css" rel="stylesheet" />
}


<div class="page-background">

    @await Html.PartialAsync("~/Views/Shared/_headerNav.cshtml")

    <!-- Phần chính chứa các đảo -->
    <div class="ellipse-container">
        <div id="month1" class="month" style="--i: 6;">
            <img src="~/assets/img/Dao/DaoCaHeo.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo cá heo</div>
                <div class="labelblacktext">tháng 1</div>
            </div>
        </div>
        <div id="month2" class="month" style="--i: 5;">
            <img src="~/assets/img/Dao/DaoThang2.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo làng</div>
                <div class="labelblacktext">tháng 2</div>
            </div>
        </div>
        <div id="month3" class="month" style="--i: 4;">
            <img src="~/assets/img/Dao/DaoThang3.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo làng</div>
                <div class="labelblacktext">tháng 3</div>
            </div>
        </div>
        <div id="month4" class="month" style="--i: 3;">
            <img src="~/assets/img/Dao/DaoThang4.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo đồi</div>
                <div class="labelblacktext">tháng 4</div>
            </div>
        </div>
        <div id="month5" class="month" style="--i: 2;">
            <img src="~/assets/img/Dao/DaoThang5.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo bình minh</div>
                <div class="labelblacktext">tháng 5</div>
            </div>
        </div>
        <div id="month6" class="month" style="--i: 1;">
            <img src="~/assets/img/Dao/DaoThang6.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo bình minh</div>
                <div class="labelblacktext">tháng 6</div>
            </div>
        </div>
        <div id="month7" class="month" style="--i: 0;">
            <img src="~/assets/img/Dao/DaoThang7.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo thạch anh</div>
                <div class="labelblacktext">tháng 7</div>
            </div>
        </div>
        <div id="cano" class="month" style="--i: 11;">
            <img src="~/assets/img/Dao/cano.png" alt="Tháng 1">
        </div>
        <div id="month8" class="month" style="--i: 11;">
            <img src="~/assets/img/Dao/DaoThang8.png" alt="Tháng 1">
        </div>
        <div id="month9" class="month" style="--i: 10;">
            <img src="~/assets/img/Dao/DaoThang9.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo ngọc trai</div>
                <div class="labelblacktext">tháng 9</div>
            </div>
        </div>
        <div id="month10" class="month" style="--i: 9;">
            <img src="~/assets/img/Dao/DaoThang10.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo dừa</div>
                <div class="labelblacktext">tháng 10</div>
            </div>
            <div class="tuiTien">
                <img src="~/assets/img/Dao/12.png" alt="Alternate Text" />
            </div>
        </div>
        <div id="month11" class="month" style="--i: 8;">
            <img src="~/assets/img/Dao/DaoThang11.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo đá</div>
                <div class="labelblacktext">tháng 11</div>
            </div>
            <div class="tuiTien1">
                <img src="~/assets/img/Dao/12.png" alt="Alternate Text" />
            </div>
            <div class="tuiTien2">
                <img src="~/assets/img/Dao/12.png" alt="Alternate Text" />
            </div>
            <div class="tuiTien3">
                <img src="~/assets/img/Dao/12.png" alt="Alternate Text" />
            </div>
            <div class="dauLau">
                <img src="~/assets/img/Dao/DauLau.png" alt="Alternate Text" />
            </div>
        </div>
        <div id="month12" class="month" style="--i: 7;">
            <img src="~/assets/img/Dao/DaoThang12.png" alt="Tháng 1">
            <div class="text">
                <div class="labelblacktext">Đảo cờ<br/><span>Tháng 12</span></div>
                <div class="labelredtext">đích đến</div>
            </div>
            <div class="tuiTien12">
                <img src="~/assets/img/Dao/12.png" alt="Alternate Text" />
            </div>
        </div>
        <div id="notify" class="month" style="--i: 7;">
            @* <img src="~/assets/img/Dao/14.png" alt="Tháng 1"> *@
            <div class="letterBg">
                <div class="letterBgContent">
                    <div class="labelredtext">mục tiêu</div>
                    <div class="blacktext">Doanh thu</div>
                    <div class="blacktext">6 tỷ</div>
                    <div class="blacktext">Chi phí</div>
                    <div class="blacktext">1 tỷ</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Phần biểu đồ phần trăm của các bộ phận -->
    <div class="row ship-stats">
        <div class="boong">Bộ phận Boong: 50%</div>
        <div class="may">Bộ phận Máy: 70%</div>
    </div>

</div>

@section Scripts
{
    <script src="~/js/Home/Page3.js"></script>
}