
@section Styles
{
    <link href="~/css/Home/Page10.css" rel="stylesheet" />
}

<div class="page-background">

    <div class="row">
        <div class="col-xl-12">
            <div class="d-flex justify-content-center redtext mt-3 fst-italic" style="font-size: 50px;">
                Ghi chú
            </div>
        </div>
    </div>

    <div>
        <div class="col-xl-6">
            <div class="d-flex gap-1 mt-3">
                <div class="labelredtext">
                    Bảng cùng biển nguy hiểm
                </div>

                <div style="font-size: 1.2em;">
                    <i class="fa-regular fa-clock"></i>
                </div>

            </div>

            <table class="table table-bordered mt-4" style="text-align: center; vertical-align: middle;">
                <thead class="table-light">
                    <tr>
                        <th>Tên</th>
                        <th>Hiệu suất</th>
                        <th>Số lần</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color: #fffbf6;">Nguyễn Thị Yến</td>
                        <td>30%</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td style="background-color: #fffbf6;">Đoàn Mỹ An</td>
                        <td>20%</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td style="background-color: #fffbf6;">Hùng Ngọc Hậu</td>
                        <td>10%</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td style="background-color: #fffbf6;">Nguyễn Nhân</td>
                        <td>50%</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td style="background-color: #fffbf6;">Quốc Trường</td>
                        <td>40%</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 

</div>

@section Scripts
{
    <script src="~/js/Home/Page10.js"></script>
}